//#use bst-* for auto completion
include ./header.jade
style
    include ../css/bootstrap.min.css
style
    include ../css/bootstrap.min.css
script(src='../js/bootstrap.min.js')
body
    h1 oh-my-log
    div#container.col
    
    if filesObj
        P
            a(href="#{upPath}") Up
        table.table.table-hover
                thead
                    tr
                        th Directory
                        th Info
                each item in filesObj
                    tr
                    td 
                        a(href='/?dir=#{currentPath}/#{item.path}&isFile=#{item.isFile}') #{item.path}
                    td
                        if item.isFile == true
                            p [file]
                        else
                            p [dir]
    else if error
        p error
    else
        p

    if file
        p 
            a(href="#{upPath}") Up
        .container
            p !{file}